
.circle{
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: #E9962E;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    pointer-events: none;
}

/* #trailer:not([data-type=""]) > #trailer-icon{
    opacity: 1;
}

#trailer-icon{
    font-size: 6px;
    line-height: 4px;

    opacity: 0;
    transition: opacity 400ms ease;
} */

#trailer {
    position: fixed;
    pointer-events: none;
    display: block; /* Initially hidden */
    opacity: 0;
    transition: opacity 0.3s ease;
    scale: 3.5;
}
/* 
.circle {
    position: absolute;
    pointer-events: none;
} */