*{
    margin: 0;
    border: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

canvas{
    position: fixed;
    top: 0;
}


html{
    scroll-behavior: smooth;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;  
}
a:hover {
    /* color:rgb(255, 255, 255);  */
    text-decoration:none; 
    cursor:pointer;  
}
.sections{
    width: 100vw;
}

.navIc {
    transition: all 0.5s ease;
}

.navIc:hover {
    color: #E9962E;
    text-decoration: line-through;
    /* font-size: 16px; */
}

#navBar {
    background-color: #0D0D0D;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 53px;
    /* position: sticky; */
    position: fixed;
    font-size: 15px;
    font-weight: 500;
    z-index: 2;
}
#logo {
    display: flex;
    align-items: center;
}
#nav{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border-bottom: 2px solid; */
    width: auto;
    flex-grow: 1;

}

#contact {
    display: flex;
    align-items: center;
    padding: 6px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    white-space: nowrap;
    max-width: 150px; /* Adjust as needed */
    transition: all 0.5s ease;
}

#contact:hover,
.aboutBor:hover{
    background-color: #E9962E;
    /* color: black; */
    /* border: #0D0D0D; */
}

#main{
    background-color: rgb(13, 13, 13);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#leftThing{
    width: 90%;
    height: 45%;
    border-left: 2px solid white;
    border-right: 2px solid white;
    display: flex;
    justify-content: center;
}

.intro{
    width: 44%;
    height: 55px;
    padding: 5px;   
    border-top-left-radius: 30.5px;
    border-top-right-radius: 30.5px;
    border-bottom-left-radius: 30.5px;
    border-bottom-right-radius: 30.5px;
    text-align: center;
    font-weight: 300;
}

#mainIntro{
    color: rgb(247, 246, 242);
    border: 2px solid rgb(247, 246, 242);
}

#projIntro{
    color: rgb(247, 246, 242);
    border: 2px solid rgb(247, 246, 242);
    margin: 20px auto;
    width: 50%;
    text-align: center;
}

#projects {
    background-color: #0D0D0D;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    display: flex;
    align-items: center;
}

.scrollcontent {
    display: flex;
    align-items: center;
    overflow: clip;
    /* overflow-x: scroll; */
}

.proj {
    display: inline-block;
    width: 1185px;
    height: 654px;
    margin: 22px;
    background-color: rgb(247, 246, 242);
    border-radius: 40px;
    position: relative;
    vertical-align: top;
    
}



#projMainHead {
    background-color: #0D0D0D;
    text-align: center;
    position: relative;
}
/* @keyframes fade-in{
    to{scale: 1; opacity: 1;}
} */

#projHead {
    color: rgb(247, 246, 242);
    font-size: 180px;
    font-weight: bold;
    margin-top: 60px;

    /* scale: .8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-duration: var(--animation-range);
    border: 2px solid #e386d2; */
}
/* :root {
    --animation-range: cover;
  } */


    

.arrow-line {
    width: 90%;
    margin: 100px auto 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .arrow-line::after {
    content: '→';
    font-size: 24px;
    color: #0d0d0d;
    position: absolute;
    right: -20px;
    top: -12px;
} */

#arrowLine{
    width: 80%;
    height: 2px;
    background-color: rgb(247, 246, 242);
}

#arrowHead{
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    /* background-color: #0D0D0D; */
    border-top: 2px solid rgb(247, 246, 242) ;
    border-right: 2px solid rgb(247, 246, 242);
}

/* .navIc {
    transition: all 1s ease;
}

.navIc:hover {
    text-decoration: line-through;
    font-size: 16px;
} */


.projAnch{
    transition: all 0.5s ease-in-out;
}
/* .projAnch:hover{
    transform: scale(1.02);
} */




#skills{
    background-color: rgb(13, 13, 13);
    height: 1vh;
}


#about{
    background-color: #0D0D0D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#aboutHead{
    color: rgb(247, 246, 242);
    font-size: 10vw;
    font-weight: 750;
}

.container{
    width: 75vw;
    height: 60vh;
    /* background-color: aqua; */
    display: flex;
    padding: 1em;
    gap: 1em;
    font-family: Arial, sans-serif; /* Unified font family */

}

.leftcol{
    flex: 1.25;
    /* background-color:rgb(255, 144, 127); */
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
#techstackicons{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}
.techicons{
    /* width: 100%; Make images take full width of the available space  */
    width: 15%;
    /* height: auto; Maintain aspect ratio */
    height: 4%;
    object-fit:fill;
}
.rightcol{
    flex: 1;
    background-color: rgba(247, 246, 242, 0.22);
    border-radius: 30px;
    padding: 0.5em;
}

#rightcolhead{
    color: #E9962E;
    font-size: 45px;
    font-weight: 700;
    padding: 0.25em;
}

h2, h3, h4{
    font-weight: 500;
}
.ed{
    color: white;
    font-size: 10px;
    font-weight:300;
    margin-bottom: 2.5em;
    margin-left: 1.5em;
}

.toprow{
    flex: 1.5;
    background-color: rgba(247, 246, 242, 0.22);
    border-radius: 30px;
    font-size: 45px;
    font-weight: 700;
    color: #F7F6F2;
    padding: 0.5em;
    
}
.bottomrow{
    flex: 1;
    /* background-color: #0D0D0D; */
    border-radius: 30px;
    display: flex;
    gap: 1em;
    padding-top: 0.5em;
}
#bottoml{
    flex: 1.5;
    background-color: #F7F6F2;
    border-radius: 30px;
    font-size: 72px;
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}
#bottomr{
    flex: 1;
    background-color: #F7F6F2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0D0D0D;

}









#circle{
    background-color: rgb(247, 246, 242);
    height: 12px;
    width: 12px;
    border-radius: 50%;
}
.aboutBor{
    border-radius: 30px;
    border: 2px solid rgb(247, 246, 242);
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.3s ease;
}
#contInf{
    margin-top: 20px;
    color: rgb(247, 246, 242);
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}



.circle{
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: #E9962E;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    pointer-events: none;
}

/* #trailer:not([data-type=""]) > #trailer-icon{
    opacity: 1;
}

#trailer-icon{
    font-size: 6px;
    line-height: 4px;

    opacity: 0;
    transition: opacity 400ms ease;
} */

#trailer {
    position: fixed;
    pointer-events: none;
    display: block; /* Initially hidden */
    opacity: 0;
    transition: opacity 0.3s ease;
    scale: 3.5;
}
/* 
.circle {
    position: absolute;
    pointer-events: none;
} */